body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

 img {
    width: 500px;
    margin: 0 auto;
    display: flex;
justify-content: center;
align-items: center;
  }
  
a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.search form {
    margin: 30px auto;
    text-align: center;
}

.search input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
}

.search button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.latest-news {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #f4f4f4;
}

footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}